@import '@/config.less';

:global(#--project-h5) {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .font-family;
  font-size: 32px;
  background-color: #f0f2f5;
  color: rgba(0, 0, 0, 0.65);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #1890ff;

  &:active {
    -webkit-tap-highlight-color: transparent;
  }

  &:link {
    -webkit-tap-highlight-color: transparent;
  }
}

button {
  cursor: pointer;
  background: none;
}

ul,
li {
  list-style: none;
}

input {
  background-color: transparent;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
  -webkit-user-drag: none;
  -moz-window-dragging: no-drag;
}

canvas {
  display: block;
}

:focus {
  outline: none;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}
